<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="shellBelt" class="ru.akhitev.kb.spring.lookup_method.TurboLaserShellBelt"
          scope="prototype" />

    <bean id="problematicTurboLaser" class="ru.akhitev.kb.spring.lookup_method.ProblematicTurboLaserTurret">
        <property name="shellBelt" ref="shellBelt" />
    </bean>

    <bean id="correctTurboLaser" class="ru.akhitev.kb.spring.lookup_method.CorrectTurboLaserTurret">
        <lookup-method name="getNewShellBelt" bean="shellBelt" />
    </bean>
</beans>