<h1>Status List</h1>
Search: <input ng-model="$ctrl.query" /><br/>
<p>
    Sort by:
    <select ng-model="$ctrl.orderProp">
        <option value="name">Name (alphabetically)</option>
        <option value="status">Status</option>
    </select>
</p>
<ul>
    <li ng-repeat="status in $ctrl.statuses | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <a href="#!/statuses/{{status.id}}">
            <img ng-src="{{status.icon}}" alt="{{status.name}}" style="width:20px;height:20px;"/>
        </a>
        <a href="#!/statuses/{{status.id}}">{{status.name}}</a>
        <p>{{status.value}}</p>
    </li>
</ul>