<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan
            base-package="ru.akhitev.kb.spring.aliases">
    </context:component-scan>

    <bean class="ru.akhitev.kb.spring.aliases.ISD" id="ISD" name="ImperialSD, Imperial_I, Imperial_Star_Destroyer" />

    <bean class="ru.akhitev.kb.spring.aliases.ISD2" name="Imperial_II_SD Imperial_II Imperial_II_Star_Destroyer Imperial_2_Star_Destroyer" />

    <bean class="ru.akhitev.kb.spring.aliases.ISD" id="VSD" name="VictorySD; Victory_I" />
    <alias name="VSD" alias="Victory, Victory_Star_Destroyer" />


</beans>