<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="ru.akhitev.kb.spring.collection_injecion_via_annotation" />

    <util:map id="scoutLineShips" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.Integer">
        <entry key="Nebulon-B 2" value="6" />
        <entry key="Carakka" value="4" />
        <entry key="Corvette" value="20" />
    </util:map>

    <util:set id="scoutLineCapitalShips" set-class="java.util.HashSet" value-type="java.lang.String">
        <value>Зоркий</value>
        <value>Стремительный</value>
    </util:set>

    <util:properties id="scoutLineSuperiorOfficers">
        <prop key="Командир линии">Ушаков</prop>
        <prop key="Командир ИСБ">Давялов</prop>
    </util:properties>

    <util:list id="scoutLineRout" list-class="java.util.ArrayList">
        <value>Марс</value>
        <value>Альфа-Лебедь</value>
        <value>Вега</value>
        <value>Марс</value>
    </util:list>
</beans>