<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:annotation-config />
    <context:component-scan base-package="ru.akhitev.kb.spring.hibernate" />

    <jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="spring/hibernate/schema.sql" />
        <jdbc:script location="spring/hibernate/data.sql" />
    </jdbc:embedded-database>

    <util:properties id="hibernateProperties">
        <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
        <prop key="hibernate.max_fetch_depth">3</prop>
        <prop key="hibernate.jdbc.fetch_size">50</prop>
        <prop key="hibernate.jdbc.batch_size">10</prop>
        <prop key="hibernate.hbm2ddl.auto">update</prop>
        <prop key="hibernate.use_sql_comments">true</prop>
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.format_sql">true</prop>
        <prop key="hibernate.use_sql_comments">true</prop>
    </util:properties>

    <bean id="sessionFactory"
          p:dataSource-ref="dataSource"
          p:packagesToScan="ru.akhitev.kb.spring.hibernate.entity"
          p:hibernateProperties-ref="hibernateProperties"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" />

    <bean id="transactionManager"
          p:sessionFactory-ref="sessionFactory"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager" />

    <tx:annotation-driven />

</beans>