<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-lazy-init="true">

    <bean id="tank" init-method="init"
          class="ru.akhitev.kb.spring.life_cycle.default_init_method.players.Player" c:role="Tank" />
    <bean id="heal" init-method="init"
          class="ru.akhitev.kb.spring.life_cycle.default_init_method.players.Player" c:role="Heal" />
    <bean id="dd1" init-method="init"
          class="ru.akhitev.kb.spring.life_cycle.default_init_method.players.Player" c:role="Damage Dealer" />
    <bean id="dd2" init-method="init"
          class="ru.akhitev.kb.spring.life_cycle.default_init_method.players.Player" c:role="Damage Dealer" />

    <bean id="dungeonGroup" init-method="init"
          class="ru.akhitev.kb.spring.life_cycle.default_init_method.group.Group">
       <property name="players">
           <list>
               <ref bean="tank" />
               <ref bean="heal" />
               <ref bean="dd1" />
               <ref bean="dd2" />
           </list>
       </property>
    </bean>

</beans>