<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-lazy-init="true">

    <bean name="customEditorConfigurer"
          class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="ru.akhitev.kb.spring.propert_editor.CraftSummary"
                       value="ru.akhitev.kb.spring.propert_editor.CraftSummaryPropertyEditor"/>
            </map>
        </property>
    </bean>

    <bean id="character" class="ru.akhitev.kb.spring.propert_editor.Character" c:_0="Эндемеон">
        <constructor-arg>
            <list>
                <value>р_т6к6</value>
                <value>о_т6к6г</value>
                <value>и_т6к6</value>
            </list>
        </constructor-arg>
    </bean>

</beans>