<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
        location="spring/environment_properties_injection/infrastructure.properties,
        spring/environment_properties_injection/user.properties" local-override="true" />

    <bean class="ru.akhitev.kb.spring.environment_properties_injection.HomeInfrastructureInfo"
          c:transmissionAddress="${transmission.address}"
          c:plexAddress="${plex.address}" />

    <bean class="ru.akhitev.kb.spring.environment_properties_injection.UserInfo"
          c:homeDir="${user.home}" />

</beans>