<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="engineFactory" class="ru.akhitev.kb.spring.life_cycle.factory_bean.supplier.EngineFactory" />
    <bean id="weaponFactory" class="ru.akhitev.kb.spring.life_cycle.factory_bean.supplier.WeaponFactory" />
    <bean id="seinarFactory" class="ru.akhitev.kb.spring.life_cycle.factory_bean.supplier.SeinarFactory" />

    <bean id="kuatShipYard"
          c:engineFactory-ref="engineFactory"
          c:weaponFactory-ref="weaponFactory"
          c:seinarFactory-ref="seinarFactory"
          class="ru.akhitev.kb.spring.life_cycle.factory_bean.KuatShipYard" />

    <bean id="reinforcement" c:isd-ref="kuatShipYard"
          class="ru.akhitev.kb.spring.life_cycle.factory_bean.Reinforcement" />
</beans>