<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tieFighter" class="ru.akhitev.kb.spring.autowire_regimes.fighter.TieFighter" />
    <bean id="tieInterceptor" class="ru.akhitev.kb.spring.autowire_regimes.fighter.TieInterceptor" />
    <bean id="tieBomber" class="ru.akhitev.kb.spring.autowire_regimes.fighter.TieBomber" />

    <bean id="unitByName" autowire="byName"
          class="ru.akhitev.kb.spring.autowire_regimes.unit.InspectionUnit"
          lazy-init="true" />

    <bean id="unitByType" autowire="byType"
          class="ru.akhitev.kb.spring.autowire_regimes.unit.InspectionUnit"
          lazy-init="true" />

    <bean id="unitConstructor" autowire="constructor"
          class="ru.akhitev.kb.spring.autowire_regimes.unit.InspectionUnit"
          lazy-init="true" />
</beans>